{% extends "base.html" %}

{% block title %}Word List{% endblock %}

{% block content %}
    <h2>Word List</h2>
    <ul>
        {% for word in words %}
            <li>
                Japanese: {{ word.japanese }} | English: {{ word.english }}
                <a href="{{ url_for('route_update_word', word_id=word.id) }}">Edit</a>
                <form method="POST" action="{{ url_for('route_delete_word', word_id=word.id) }}" style="display: inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('route_add_word') }}">Add Word</a>
{% endblock %}
