{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Welcome Vyom!</h2>
    <p>This is JLO.AIv0.02WEB Select an option:</p>
    <ul>
        <li><a href="{{ url_for('route_get_users') }}">Manage Users</a></li>
        <li><a href="{{ url_for('route_get_words') }}">Manage Words</a></li>
        <li><a href="{{ url_for('prompter') }}">Generate Prompt</a></li>
        <li><a href="{{ url_for('canlight') }}">CANLight</a></li> <!-- New Link Added -->
    </ul>
{% endblock %}

