{% extends "base.html" %}

{% block title %}Update Word{% endblock %}

{% block content %}
    <h2>Update Word</h2>
    <form method="post" action="{{ url_for('route_update_word', word_id=word.id) }}">
        <label for="japanese">Japanese:</label>
        <input type="text" id="japanese" name="japanese" value="{{ word.japanese }}" required><br>
        <label for="english">English:</label>
        <input type="text" id="english" name="english" value="{{ word.english }}" required><br>
        <button type="submit">Update Word</button>
    </form>
    <a href="{{ url_for('route_get_words') }}">Back to Word List</a>
{% endblock %}
